<%- include('header') %>
<!-- start: content -->

<div class="py-4">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1 class="display-1">Profilom</h1>
            </div>
        </div>
    </div>
</div>
<div class="py-4">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="card text-white p-5 h-100">
                    <div class="card-body">
                        <form method="post" action="/profile">
                            <div class="form-group">
                                <div class="form-group"> <label class="text-primary">Felhasználónév</label>
                                    <div class="form-group"> <label class="text-dark">pappa</label>
                                        <div class="form-group"> <label class="text-primary">Teljes név</label>
                                            <input type="text" class="form-control" placeholder="Teljes név"> </div>
                                        <div class="form-group"> <label class="text-primary">Email</label>
                                            <input type="email" class="form-control" placeholder="Email"> </div>
                                        <button type="submit" class="btn btn-secondary">Mentés</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card text-white p-5 h-100">
                    <div class="card-body">
                        <form method="post" action="/profile">
                            <div class="form-group">
                                <div class="form-group">
                                    <div class="form-group">
                                        <div class="form-group"> <label class="text-primary">Régi jelszó</label>
                                            <input type="password" class="form-control" placeholder="Régi jelszó"> </div>
                                        <div class="form-group"> <label class="text-primary">Új jelszó</label>
                                            <input type="password" class="form-control" placeholder="Új jelszó"> </div>
                                        <div class="form-group"> <label class="text-primary">Új jelszó mégegyszer</label>
                                            <input type="password" class="form-control" placeholder="Új jelszó mégegyszer"> </div>
                                        <button type="submit" class="btn btn-secondary">Jelszó megváltoztatása</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- end: content -->
<%- include('footer') %>