<%- include('header-outside') %>
<!-- start: content -->

<div class="py-5">
    <div class="container">
        <div class="row">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title"><%= reminder ? reminder : 'Ehhez az emailhez nem tartozik emlékeztető.' %></h4>
                        <p class="card-text p-y-1">az általad beállított jelszó emlékeztető. Ha nincs meg, vedd fel a kapcsolatot a rendszergazdával.</p>
                    </div>
                </div>
        </div>
    </div>
</div>

<!-- end: content -->
<%- include('footer') %>